@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@500&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Kufam", sans-serif;
    margin: 0;
    background-color: aquamarine;
}

.carousel {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    height: 500px;
    width: 500px;
}

.img-container {
    display: flex;
    transition: transform 0.3s linear;
    transform: translateX(0);
    transform-origin: center center;
}

img {
    object-fit: cover;
    width: 500px;
    height: 500px;
}